.App {
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App{
  background: linear-gradient(90deg, #aebbd3 30%, #8ee8ff 90%);
  z-index: -1;
  min-height:100vh;
}